*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#83A2FF;
    --secondary-color:#80BCBD;
}
body{
    background-color: var(--primary-color);
    
}
html{
    font-size: 75.5%;
}
.header{
    width: 100%;
    height: 500px;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}
/* .header ::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../public/img/bg.jpg);
  clip-path: circle(60% at left 300px);
  z-index: 0.5;
} */
.row2{
    /* position: absolute;
    top: 10px;
    right: 150px; */
    text-align: center;
    width: 50%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row2 h2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    color: cornsilk;

}
.row2 img{
  margin-top: 20px;
  width: 400px;
}
.row1{
    width: 50%;
}
.row1 h1{
    text-align: center;
    font-size: 3rem;
    margin-left: 40px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    outline: 0;
    border: 0;
    width: 350px;
    padding: 0 0.5rem;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
 
}
.search button{
    outline: none;
    border: none;
    font-size: 30px;
    color: brown;
    height: 35px;
    background-color: white;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
  
}
.container{
    width: 65%;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}
.card{
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #ffffff;
    text-align: center;
    padding: 10px;

}
.card:hover{
    transform: scale(0.9);
    transition: .5s;
    background: var(--secondary-color);
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 15px;
    margin-bottom: 10px;
}
.card .bottom .amout{
    color: rgb(247, 246, 246);
    background: #53b1f9;
    padding: 5px;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #53b1f9;
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 600px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    border-radius: 5px;

}
.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: 1px solid #ddd;
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(114, 113, 113);
    cursor: pointer;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.info h1 {
    color: blueviolet;
  }
  .info h3 {
    margin-top: 12px;
    color: #686262;
  }
  .info h4 {
    margin-top: 20px;
    color: brown;
  }
  .info a button {
    padding: 5px 30px;
    display: inline-block;
    margin-top: 20px;
    background: cadetblue;
    border-radius: 5px;
    color: white;
  }
  .describtion {
    padding: 20px;
   
  }
/* responsive design START */
@media (max-width:500px) {
    .header{
        display: block;
        height: auto;
    }
    .row1{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .row2{
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    .row1 h1{
        font-size: 20px;
        margin: 0;
        color: #e2eaf1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row2 h2{
        color: rgb(233, 240, 246);
    }
    .row2 img{
        max-width: 100%;
    }
    .search input{
        width: 100%;
    }
    .container {
        width: 85%;
        margin: auto;
          margin-top: auto;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100%,0.5fr));
        grid-gap: 20px;
        box-sizing: border-box;
      }
      .overlay-inner .inner-box{
        margin-top: 30px;
        display: block;
        justify-content: center;
    }
    .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    
    }
    .overlay-inner{
        background: white;
        width:100%;
        height: auto;
        padding: 1.5rem;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 1.3rem;
        border-radius: 5px;
        margin-top: 30px;
    
    }
}
/* responsive design END */
@media  (max-width:900px) {
    .header{
        display: block;
        height: auto;
    }
    .row1{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .row2{
        width: 100%;
        padding: 20px;
    }
    .row1 h1{
        font-size: 15px;
        margin: 0;
        color: #e2eaf1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row2 h2{
        color: rgb(233, 240, 246);
        font-size: 30px;
    }
    .row2 img{
        max-width: 100%;
    }
}
/* responsive design END */